﻿
@{
    ViewBag.Title = "MemberInformation";
}
<div class="header">
    <div class="header-top-row">
        <div class="header-top-left">
            <p>MEMBERSHIP APPLICATION</p>
        </div>
        <div class="header-top-right">
            <img class="vistage-logo" src="~/app/media/vistage-logo.png" style="width:50%; vertical-align:top">
        </div>
    </div>
    <div class="header-bottom-row">
        <div class="header-bottom-left">
            <p style="font-weight: bold">Our mission</p>
            <p>Dedicated to increasing the effectivenes and enhancing the lives of chief executive and business leaders worldwide</p>
        </div>
        <div class="header-bottom-right">
            <p style="font-weight: bold">Our values</p>
            <p>Trust, Challenge</p>
            <p>Care, Growth</p>
        </div>
    </div>
</div>

<div class="breadcrumb-container">
    <ul class="breadcrumb">
        <li>
            <a [routerLink]="['/membership-terms', { membershipId: this.app.membershipApplicationId }]" routerLinkActive="active">
                <span class="badge">1</span><span class="nav-filler"> - Membership </span><span class="nav-text">Terms</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/member-information', { membershipId: this.app.membershipApplicationId }]" routerLinkActive="active" [class.disabled]="!this.app.stepOneSaved">
                <span class="badge">2</span><span class="nav-filler">- Member </span><span class="nav-text">Information</span>
            </a>
        </li>
        <li class="last-nav">
            <a [routerLink]="['/payment-information', { membershipId: this.app.membershipApplicationId }]" routerLinkActive="active" [class.disabled]="!this.app.stepTwoSaved">
                <span class="badge">3</span><span class="nav-filler"> - </span><span class="nav-text">Payment</span><span class="nav-filler"> Information</span>
            </a>
    </ul>
</div>

<h4>Member Information</h4>
<p>Please complete the information below. All fields required.</p>

<div class="form-wrapper">

    <form (ngSubmit)="onSubmit(memberForm)" (change)="changeOnForm(memberForm)" #memberForm="ngForm">
        <div class="form-body">
            <ul>
                <!--About You-->
                <li>
                    <label class="field-label"> About You </label>
                    <div class="form-description error" *ngIf="!memberForm.valid && memberForm.tested"><b>Please complete the required fields.</b></div>

                </li>

                <!-- Full Name-->
                <li>
                    <label class="field-label required">Full Name</label>
                    <div class="input-container fullName">
                        <div class="prefix-container">
                            <select class="form-control" id="prefix" [(ngModel)]="app.person.prefix" name="prefix" #prefix>
                                <option disabled [value]="''"></option>
                                <option *ngFor="let prefix of prefixes" [value]="prefix.value">{{prefix.display}}</option>
                            </select>
                        </div>
                        <div class="firstName-container">
                            <input type="text" class="input-field" [class.submitted]="memberForm.tested" [(ngModel)]="app.person.first" name="first" maxlength="40" required>
                        </div>
                        <div class="middleInitial-container">
                            <input type="text" class="input-field" [(ngModel)]="app.person.middleInitial" name="middleInitial" maxlength="40">
                        </div>
                        <div class="lastName-container">
                            <input type="text" class="input-field" [class.submitted]="memberForm.tested" [(ngModel)]="app.person.last" name="last" maxlength="80" required>
                        </div>
                        <div class="suffix-container">
                            <input type="text" class="input-field" [(ngModel)]="app.person.suffix" name="suffix" maxlength="10">
                        </div>
                    </div>
                </li>

                <!-- Preferred Name -->
                <li>
                    <label class="field-label">Preferred Name </label>
                    <div class="input-container">
                        <input class="input-field" type="text" [(ngModel)]="app.person.preferredName" name="preferredName" maxlength="40">
                    </div>
                    <div class="field-description">To be shown to other members</div>
                </li>

                <!-- Job Title -->
                <li>
                    <label class="field-label required">Job Title</label>
                    <div class="input-container">
                        <input class="input-field" type="text"  [class.submitted]="memberForm.tested" [(ngModel)]="app.person.jobTitle" name="jobTitle" maxlength="80" required>
                    </div>
                </li>

                <!-- Work Phone -->
                <li>
                    <label class="field-label required">Work Phone</label>
                    <div class="input-container">
                        <input class="input-field" [class.submitted]="memberForm.tested" type="text" [(ngModel)]="app.person.workPhone" #workPhone="ngModel" name="workPhone"  maxlength="40" required>
                    </div>
                   <!-- <div *ngIf="!workPhone.valid"class="field-description error">Please enter valid phone number</div>

                </li>

                <!-- Mobile Phone -->
                <li>
                    <label class="field-label"> Mobile Phone </label>
                    <div class="input-container">
                        <input class="input-field" type="text" [(ngModel)]="app.person.mobilePhone" name="mobilePhone" maxlength="40">
                    </div>
                </li>

                <!-- Email Address -->
                <li>
                    <label class="field-label required"> Email Address</label>
                    <div class="input-container">
                        <input class="input-field"  [class.submitted]="memberForm.tested" type="text" [(ngModel)]="app.person.email" 
                               #email="ngModel" name="email" ngControl="email" maxlength="100" pattern="^[a-zA-Z0-9_.+-]+&#64;[a-zA-Z0-9-]+[.][a-zA-Z0-9]+$" required>
                    </div>
                    <div *ngIf="(!email.valid && memberForm.tested && email.dirty)" class="field-description error">Please enter valid email address</div>
                    <div *ngIf="(email.valid || !memberForm.tested)" class="field-description">Primary email</div>
                </li>

                <!-- Date of Birth -->
                <li>
                    <label class="field-label required">Date of Birth</label>
                    <div class="input-container">
                        <select class="form-control" [class.submitted]="memberForm.tested" id="birthMonth" name="month" [(ngModel)]="birthMonth" (change)="updatebirthMonth($event.target.value)" required>
                            <option disabled [value]="''">Month</option>
                            <option *ngFor="let month of months" [value]="month.value">{{month.display}}</option>
                        </select>

                        <select class="form-control" [class.submitted]="memberForm.tested" id="birthDay" name="day" [(ngModel)]="birthDay" (change)="updatebirthDay($event.target.value)" required>
                            <option disabled [value]="''">Day</option>
                            <option *ngFor="let day of commonDays" [value]="day.value">{{day.display}}</option>
                            <option *ngIf="isLeapYear(birthYear) === 'true' || birthMonth !== '02'" [value]="29">29</option>
                            <option *ngIf="birthMonth !== '02'" [value]="30">30</option>
                            <option *ngIf="((birthMonth !== '02') && (birthMonth !== '04') && (birthMonth !== '06')
                                    && (birthMonth !== '09') && (birthMonth !== '11'))" [value]="31">31</option>

                        
                        </select>
                        <select class="form-control" [class.submitted]="memberForm.tested" id="birthYear" name="year" [(ngModel)]="birthYear" (change)="updatebirthYear($event.target.value)" required>
                            <option disabled [value]="''">Year</option>
                            <option *ngFor="let year of years" [value]="">{{year.display}}</option>
                        </select>
                    </div>
                </li>
                <!-- Gender -->
                <li>
                    <label class="field-label required"> Gender</label>
                    <div class="form-group input-container">
                        <select class="form-control" id="gender" [class.submitted]="memberForm.tested" [(ngModel)]="app.person.gender" name="gender" #gender required>
                            <option disabled [value]="''"></option>
                            <option *ngFor="let gender of genders" [value]="gender.value">{{gender.display}}</option>
                        </select>
                    </div>
                </li>

                <!-- Spouse/Sig. Other-->
                <li>
                    <label class="field-label"> Spouse/Sig. Other </label>
                    <div class="input-container">
                        <input class="input-field" type="text" [(ngModel)]="app.person.spouse" name="spouse" maxlength="255">
                    </div>
                    <div class="field-description">Only visible to your own Vistage group</div>

                </li>

                <!--About your company -->
                <li>
                    <label class="field-label"> About Your Company </label>
                </li>

                <!-- Company Name -->
                <li>
                    <label class="field-label required">Company Name</label>
                    <div class="input-container">
                        <input class="input-field" [class.submitted]="memberForm.tested" type="text" [(ngModel)]="app.company.name" name="name" maxlength="40" required>
                    </div>
                </li>

                <!-- Business Description -->
                <li>
                    <label class="field-label required"> Business Description</label>
                    <div class="input-container">
                        <textarea class="input-field" [class.submitted]="memberForm.tested" type="text" [(ngModel)]="app.company.businessDescription" name="businessDescription" maxlength="255" required></textarea>
                    </div>
                </li>

                <!-- Type of Org -->
                <li>
                    <label class="field-label required"> Type of Org</label>
                    <div class="form-group input-container">
                        <select class="form-control" [class.submitted]="memberForm.tested" id="typeOfOrg" [(ngModel)]="app.company.typeOfOrg" name="typeOfOrg" required #typeOfOrg>
                            <option disabled [value]="''"></option>
                            <option *ngFor="let type of typesOfOrgs" [value]="type.value">{{type.display}}</option>
                        </select>
                    </div>
                </li>

                <!-- Annual Revenue -->
                <li>
                    <label class="field-label required"> Annual Revenue</label>
                    <div class="form-group input-container">
                        <select class="form-control" [class.submitted]="memberForm.tested" id="annualRevenue" [(ngModel)]="app.company.annualRevenue" name="annualRevenue" required #annualRevenue>
                            <option disabled [value]="''"></option>
                            <option *ngFor="let revenue of annualRevenues" [value]="revenue.value">{{revenue.display}}</option>
                        </select>
                    </div>
                </li>

                <!-- # of Employees-->
                <li>
                    <label class="field-label required"># of Employees</label>
                    <div class="form-group input-container">
                        <select class="form-control" [class.submitted]="memberForm.tested" id="numberOfEmployee" [(ngModel)]="app.company.numberOfEmployee" name="numberOfEmployee" required #numOfEmployee>
                            <option disabled [value]="''"></option>
                            <option *ngFor="let number of numbersOfEmployees" [value]="number.value">{{number.display}}</option>
                        </select>
                    </div>
                </li>

                <!-- Industry -->
                <li>
                    <label class="field-label required">Industry</label>
                    <div class="input-container">
                        <select class="form-control" [class.submitted]="memberForm.tested" id="industry" name="industry" [(ngModel)]="industryPlaceholder" (change)="getIndustryDetails($event.target.value)" required #industry>
                            <option disabled [value]="''"></option>
                            <option *ngFor="let industry of industries" [value]="industry.code">{{industry.description}}</option>
                        </select>
                    </div>
                </li>

                <!-- Industry Detail*-->
                <li>
                    <label class="field-label required"> Industry Detail </label>
                    <div class="input-container">
                        <select class="form-control" [class.submitted]="memberForm.tested" id="industryNAICS" [(ngModel)]="app.company.industryNAICS" name="industryNAICS" required #industryNAICS>
                            <option disabled [value]=""></option>
                            <option *ngFor="let detail of industryDetails" [value]="detail.code">{{detail.description}}</option>
                        </select>
                    </div>
                </li>

                <!-- Address 1-->
                <li>
                    <label class="field-label required"> Address 1</label>
                    <div class="input-container">
                        <input class="input-field" [class.submitted]="memberForm.tested" type="text" [(ngModel)]="app.company.address1" name="address1" maxlength="40" required>
                    </div>
                    <div class="field-description">Mailing address, not a P.O. Box</div>

                </li>

                <!-- Address 2-->
                <li>
                    <label class="field-label"> Address 2 </label>
                    <div class="input-container">
                        <input class="input-field" type="text" [(ngModel)]="app.company.address2" name="address2" maxlength="100">
                    </div>
                </li>

                <!-- City-->
                <li>
                    <label class="field-label required"> City</label>
                    <div class="input-container">
                        <input class="input-field" type="text" [class.submitted]="memberForm.tested" [(ngModel)]="app.company.city" name="city" required>
                    </div>
                </li>

                <!-- State/Province -->
                <li>
                    <label class="field-label required"> State/Province</label>
                    <div class="input-container">
                        <select class="form-control" [class.submitted]="memberForm.tested" id="state" [(ngModel)]="app.company.state" name="state"  #state required>
                            <option disabled [value]="''"></option>
                            <option *ngFor="let state of states" [value]="state.stateCode">{{state.name}}</option>
                        </select>                    
                    </div>
                </li>

                <!-- Zip -->
                <li>
                    <label class="field-label required">Zip</label>
                    <div class="input-container">
                        <input class="input-field" [class.submitted]="memberForm.tested" type="text" [(ngModel)]="app.company.zip" name="zip" required>
                    </div>
                </li>

                <!-- Country -->
                <li>
                    <label class="field-label required"> Country</label>
                    <div class="input-container">
                        <select class="form-control" [class.submitted]="memberForm.tested" id="country" [(ngModel)]="app.company.country" name="country" (change)="updateState($event.target.value)" #country required>
                            <option disabled [value]="''"></option>
                            <option *ngFor="let country of countries" [value]="country.countryCode">{{country.name}}</option>
                        </select>                        
                    </div>
                </li>

                <!-- Website -->
                <li>
                    <label class="field-label"> Website </label>
                    <div class="input-container">
                        <input class="input-field" type="text" [(ngModel)]="app.company.website" name="website">
                    </div>
                    <div class="field-description">Full URL, such as www.vistage.com</div>
                </li>



                <!--How did you hear about us?-->
                <li>
                    <label> How did you hear about us? </label>
                </li>

                <!-- Referral Type -->
                <li>
                    <label class="field-label"> Referral Type </label>
                    <div class="input-container">
                        <select class="form-control" id="referralType" [(ngModel)]="app.person.referralType" name="referralType" #prefix>
                            <option disabled [value]="''"></option>
                            <option *ngFor="let referral of referralTypes" [value]="referral.value">{{referral.display}}</option>
                        </select>
                    </div>
                </li>

                <!-- Referral Name -->
                <li>
                    <label class="field-label"> Referral Name </label>
                    <div class="input-container">
                        <input class="input-field" type="text" [(ngModel)]="app.person.referralName" name="referralName" maxlength="40">
                    </div>
                </li>
            </ul>
        </div>


            <!-- Buttons-->
            <button type="submit" class="submit-button" (click)="onSubmit(memberForm)">Save and Continue</button>
            <button type="button" class="back-button" (click)="goBack()">Back to Step 1</button>
    </form>
</div>
