﻿
@{
    ViewBag.Title = "MembershipCommitment";
}
<div class="header">
    <div class="header-top-row">
        <div class="header-top-left">
            <p>MEMBERSHIP APPLICATION</p>
        </div>
        <div class="header-top-right">
            <img class="vistage-logo" src="~/app/media/vistage-logo.png" style="width:50%; vertical-align:top">
        </div>
    </div>
    <div class="header-bottom-row">
        <div class="header-bottom-left">
            <p style="font-weight: bold">Our mission</p>
            <p>Dedicated to increasing the effectivenes and enhancing the lives of chief executive and business leaders worldwide</p>
        </div>
        <div class="header-bottom-right">
            <p style="font-weight: bold">Our values</p>
            <p>Trust, Challenge</p>
            <p>Care, Growth</p>
        </div>
    </div>
</div>


<div class="breadcrumb-container">
    <ul class="breadcrumb">
        <li><a [routerLink]="['/membership-terms', { membershipId: this.app.membershipApplicationId }]" routerLinkActive="active">
            <span class="badge">1</span><span class="nav-filler"> - Membership </span><span class="nav-text">Terms</span></a>
        </li>
        <li><a [routerLink]="['/member-information', { membershipId: this.app.membershipApplicationId }]" routerLinkActive="active" [class.disabled]="!this.app.stepOneSaved">
            <span class="badge">2</span><span class="nav-filler">- Member </span><span class="nav-text">Information</span></a>
        </li>
        <li class="last-nav"><a [routerLink]="['/payment-information', { membershipId: this.app.membershipApplicationId }]" routerLinkActive="active" [class.disabled]="!this.app.stepTwoSaved">
            <span class="badge">3</span><span class="nav-filler"> - </span><span class="nav-text">Payment</span><span class="nav-filler"> Information</span></a>
    </ul>
</div>

<h4 class="title-section">Your satisfaction is our commitment</h4>
<div>
    <p>
        Welcome to Vistage. In becoming a Vistage member, you are making an investment in yourself and your company. 
        You become part of a vibrant, collaborative community, each committed to helping one another achieve ongoing growth and success.
    </p>
    <p>
        Upon receipt and approval of your application, you will be contacted by a Membership Services Director, who will help you get the most from your Vistage Membership. 
        You will also receive a welcome kit which outlines the range of benefits and services available with your membership.
    </p>

    <p>
        We are committed to your total satisfaction as a member of Vistage. It’s easy for you to contact us with any questions you may have regarding your Vistage experience. 
        Our Member Services team is dedicated to connecting you with a live person and providing same-day response during our regular business hours, which are Monday - Friday, 7:00 AM to 7:00 PM PST.
    </p>
    <p>
        Toll Free: 800.274.2367<br/>
        Email: MemberServices@vistage.com 
    </p>

</div>

<h4>Membership terms and conditions agreement</h4>
<form (ngSubmit)="onSubmit(membershipForm)" #membershipForm="ngForm">
    <div class="form-body">
        <ul>
            <li>
                <div class="indented-text">
                    <p>1. <b>Effect of agreement</b>: This Membership Terms and Conditions Agreement (“Agreement”) is entered into on behalf of the individual named on the membership application and the sponsoring company listed on the application (if any) (collectively referred to herein as “You”) and Vistage Worldwide, Inc. (“Vistage”). Both the individual and the company listed on the application are responsible for the payment of dues and Vistage shall be entitled to collect the full amount owed from either the individual or the company.  By signing this application, the individual confirms that s/he is authorized to bind the listed company to this financial responsibility.</p>

                    <p>2. <b>Acceptance</b>: Submission of a membership application by You does not guarantee acceptance as a Vistage member. You will be notified of your application status after submission.</p>

                    <p style="margin-bottom:0">3. <b>Membership commitments</b>: Upon acceptance as a member, You agree to:</p>
                    <p style="padding-left:25px">
                        &nbsp;a. Begin Your membership in the month indicated on Your application.<br />
                        &nbsp;b. Undertake best efforts to participate in scheduled Vistage Group meetings;<br />
                        &nbsp;c. Share experiences, challenges, skills and knowledge with fellow members;<br />
                        &nbsp;d. Maintain strict confidentiality of all Vistage Group discussions;<br />
                        &nbsp;e. Immediately disclose any potential conflict of interest issues to Your Vistage Group;<br />
                        &nbsp;f. Host at least one Vistage Group meeting per year; and <br />
                        &nbsp;g. Complete Your personal profile on My Vistage and update it at least annually.
                    </p>

                    <p>4. <b>Vistage materials</b>: As a member, You will be given exposure to and other access to utilize Vistage’s methodologies and materials along with other confidential information and intellectual property (“Materials”). You understand and agree that Vistage owns all rights, title and interest, including all intellectual property rights for these Materials.</p>

                    <p>5. <b>Payment</b>: Following acceptance as a member, You will be charged for the applicable enrollment fee and first installment of member dues, in accordance with Your selected billing option and method of payment. You will otherwise be responsible for the payment of member dues in advance of the period for which dues are payable. If You have elected automatic payment, dues will be automatically charged to Your selected  method of payment until Your membership is terminated. Should the dues amount change, You will be notified in advance and automatic payments will continue to occur at the new dues amount. Because of the unique nature of the Vistage Group relationship and the limitation placed on the number of members in each Vistage Group, if You wish to discontinue your membership after the first 30 days, a 90-day notice of cancellation is required. This allows for a smooth transition of departing and replacement of Vistage Group members.</p>

                    <p>6. <b>Additional terms</b>: You agree to the Vistage Terms of Use and Privacy Policy, as updated from time to time. These additional terms are incorporated herein by reference. </p>

                    <p>
                        7. <b>Scope of services</b>: The advice, services and opinions provided as part of the Vistage experience are intended to expand thinking and inspire further exploration but are not to be considered a substitute for professional financial, legal, psychological, medical or other professional advice. Even where Vistage Group members may be credentialed as professional advisors, an individual relationship with such advisors has not been created and
                        should not be relied upon as professional advice. The Vistage experience is provided “as is” with no warranty of any kind.
                    </p>

                    <p>
                        8. <b>Limitation of liability</b>: To the fullest extent permitted by law, the maximum liability of either party shall not  exceed the amount paid by You to Vistage for the twelve month period preceding the occurrence giving rise to such liability. In no event shall either party be liable for consequential, incidental, indirect, punitive or special
                        damages, or loss of profits, data, business or goodwill, regardless of whether such liability is based on breach of contract, tort, strict liability, breach of warranties, failure of essential purpose or otherwise, even if advised of the likelihood.
                    </p>

                    <p>9. <b>Binding arbitration</b>: Any controversy or claim arising out of or relating to this Agreement, or the breach thereof, shall be settled by arbitration administered by the American Arbitration Association in accordance with its Commercial Arbitration Rules, and judgment on the award rendered by the arbitrator(s) may be entered in any court having jurisdiction thereof.</p>

                    <p>10. <b>General</b>: This Agreement may not be modified unless such modifications are specifically approved in writing by a Vistage Senior Vice President or above and signed by both parties. If any term of this Agreement is deemed unenforceable, the legality and enforceability of the remaining provisions shall not be affected or impaired. This Agreement will be governed by the laws of the State of California, without regard to conflicts of laws rules.</p>
                </div>

            </li>

            <li>
                <div class="footer-container">
                    <div class="financialTerms-container">
                        <input type="checkbox" class="input-field" [class.submitted]="membershipForm.tested" [(ngModel)]="app.termsAccepted" #membershipTerms="ngModel" name="membershipTerms" (change)="updateCheckbox($event.target.checked)">
                    </div>
                    <div class="agreeTerms-container"><b>I agree to the Vistage membership terms and conditions agreement</b></div>
                    <div class="agreeTerms-version">rev. MF-V10--7272015 online</div>
                    <div class="indented-text error" *ngIf="(isCheckboxChecked === false && membershipTerms.dirty) || (membershipForm.tested && isCheckboxChecked === false)"><b>Please click the box to agree to the terms.</b></div>

                </div>
            </li>
        </ul>
    </div>
    <button type="submit" class="submit-button" (click)="onSubmit(membershipForm)">Save and Continue </button>

</form>


