﻿
@{
    ViewBag.Title = "PaymentInformation";
}
<div class="header">
    <div class="header-top-row">
        <div class="header-top-left">
            <p>MEMBERSHIP APPLICATION</p>
        </div>
        <div class="header-top-right">
            <img class="vistage-logo" src="~/app/media/vistage-logo.png" style="width:50%; vertical-align:top">
        </div>
    </div>
    <div class="header-bottom-row">
        <div class="header-bottom-left">
            <p style="font-weight: bold">Our mission</p>
            <p>Dedicated to increasing the effectivenes and enhancing the lives of chief executive and business leaders worldwide</p>
        </div>
        <div class="header-bottom-right">
            <p style="font-weight: bold">Our values</p>
            <p>Trust, Challenge</p>
            <p>Care, Growth</p>
        </div>
    </div>
</div>

<div class="breadcrumb-container">
    <ul class="breadcrumb">
        <li>
            <a [routerLink]="['/membership-terms', { membershipId: this.app.membershipApplicationId }]" routerLinkActive="active">
                <span class="badge">1</span><span class="nav-filler"> - Membership </span><span class="nav-text">Terms</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/member-information', { membershipId: this.app.membershipApplicationId }]" routerLinkActive="active" [class.disabled]="!this.app.stepOneSaved">
                <span class="badge">2</span><span class="nav-filler">- Member </span><span class="nav-text">Information</span>
            </a>
        </li>
        <li class="last-nav">
            <a [routerLink]="['/payment-information', { membershipId: this.app.membershipApplicationId }]" routerLinkActive="active" [class.disabled]="!this.app.stepTwoSaved">
                <span class="badge">3</span><span class="nav-filler"> - </span><span class="nav-text">Payment</span><span class="nav-filler"> Information</span>
            </a>
    </ul>
</div>

<h4>Payment Information</h4>
<p>Please complete the information below. All fields required.</p>


<form (ngSubmit)="onSubmit(paymentForm, payment)" #paymentForm="ngForm">

    <div class="form-body">
        <ul>
            <li>
                <label>Recurring payment information</label>
            </li>

            <li>
                <label class="field-label">Biling Start Month</label>
                <div class="input-container">{{billingStartMonth}}</div>
            </li>

            <!--payment method-->
            <li>
                <label class="field-label required"> Method of Payment</label>
                <div class="input-container">
                    <select class="form-control" [class.submitted]="paymentForm.tested" id="paymentMethod" [(ngModel)]="app.methodOfPayment" name="methodOfPayment"  (change)="filterBillingRateOptions($event.target.value)" #paymentMethod required>
                        <option disabled [value]=""></option>
                        <option *ngFor="let method of paymentMethods" [value]="method.value">{{method.display}}</option>
                    </select>
                </div>
            </li>


            <!--Transfer frequency dropdown-->
            <li>
                <label class="field-label required"> Billing Frequency </label>
                <div class="input-container">
                    <select class="form-control" [class.submitted]="paymentForm.tested" id="billingFrequency" [(ngModel)]="app.billingFrequency" name="billingFrequency" #billingFrequency required>
                        <option disabled [value]="''">Select frequency...</option>
                        <option *ngFor="let frequency of availablebillingFrequencies" [value]="frequency.frequency">{{frequency.label}}</option>
                    </select>
                </div>
            </li>

            <!--payment method: CARD-->
            <!--Card type-->
            <li *ngIf="((paymentMethod.value ==='CC') && (billingFrequency.value !== ''))">
                <label class="field-label required">Card Type</label>
                <div class="input-container">
                    <select class="form-control" [class.submitted]="paymentForm.tested" [(ngModel)]="payment.CCType" id="cardType" name="cardType" required>
                        <option disabled [value]="''"></option>
                        <option *ngFor="let type of cardTypes" [value]="type.value">{{type.display}}</option>
                    </select>
                </div>

            </li>

            <!--Card holder-->
            <li *ngIf="((paymentMethod.value ==='CC') && (billingFrequency.value !== ''))">
                <label class="field-label required">Name of Card Holder</label>
                <div class="input-container">
                    <input type="text" [class.submitted]="paymentForm.tested" name="cardHolder" [(ngModel)]="payment.LastName" required maxlength="255" />
                </div>

            </li>

            <!--Card Number-->
            <li *ngIf="((paymentMethod.value ==='CC') && (billingFrequency.value !== ''))">
                <label class="field-label required">Card number</label>
                <div class="input-container">
                    <input type="text" [class.submitted]="paymentForm.tested" [(ngModel)]="payment.CreditCardNumber" name="cardNo" required maxlength="20">
                </div>
            </li>

            <!--Card expiration-->
            <li *ngIf="((paymentMethod.value ==='CC') && (billingFrequency.value !== ''))">
                <label class="field-label required">Expiration Date</label>
                <div class="input-container">
                    <select class="form-control" [class.submitted]="paymentForm.tested" id="expirationMonth" [(ngModel)]="expirationMonth" name="expirationMonth" (change)="updateExpirationMonth($event.target.value)" required>
                        <option disabled [value]="''"></option>
                        <option *ngFor="let month of months" [value]="month.value">{{month.display}}</option>
                    </select>
                    <select class="form-control" [class.submitted]="paymentForm.tested" id="expirationYear" [(ngModel)]="expirationYear" name="expirationYear" (change)="updateExpirationYear($event.target.value)" required>
                        <option disabled [value]="''"></option>
                        <option *ngFor="let year of years" [value]="year.value">{{year.display}}</option>
                    </select>
                </div>
            </li>

            <!--payment method: TRANSFER-->
            <!--Financial Institution-->
            <li *ngIf="((paymentMethod.value ==='EFT') && (billingFrequency.value !== ''))">
                <label class="field-label required">Financial Institution</label>
                <div class="input-container">
                    <input type="text" [class.submitted]="paymentForm.tested" name="financialInstitution" [(ngModel)]="payment.FinancialInstitution" maxlength="255" required>
                </div>
            </li>

            <!--Bank routing no-->
            <li *ngIf="((paymentMethod.value ==='EFT') && (billingFrequency.value !== ''))">
                <label class="field-label required">ABA/Routing Number</label>
                <div class="input-container">
                    <input type="text" [class.submitted]="paymentForm.tested" name="routingNo"  [(ngModel)]="payment.RoutingNumber" required maxlength="9">
                </div>
            </li>

            <!--Bank account no-->
            <li *ngIf="((paymentMethod.value ==='EFT') && (billingFrequency.value !== ''))">
                <label class="field-label required">Account number</label>
                <div class="input-container">
                    <input type="text" [class.submitted]="paymentForm.tested" name="accountNo" [(ngModel)]="payment.AccountNumber" required maxlength="20">
                </div>
            </li>

            <!--Help with Routing and Account Number-->
            <li *ngIf="((paymentMethod.value ==='EFT') && (billingFrequency.value !== ''))">
                <label class="field-label"></label>
                <div class="input-container">
                    <p>Help with Routing and Account Number</p>
                    <p>Please refer to the sample check below to identify the placement of your bank's nine-digit routing number and your bank account number.</p>
                    <img id="sample-check" alt="check" src="app/media/sample-check.png" style="max-height: 200px;" />
                </div>
            </li>

            <!-- Billing Address-->
            <li *ngIf="(((paymentMethod.value === 'CC') || (paymentMethod.value === 'INV')) && (billingFrequency.value !== ''))">
                <label>Billing address</label>
            </li>

            <!-- Billing Contact Name-->
            <li *ngIf="(((paymentMethod.value === 'CC') || (paymentMethod.value === 'INV')) && (billingFrequency.value !== ''))">
                <label class="field-label required"> Billing Contact Name</label>
                <div class="input-container">
                    <input class="input-field" [class.submitted]="paymentForm.tested" type="text" [(ngModel)]="app.billingInfo.billingContactName" name="billingContactName" maxlength="255" required>
                </div>
            </li>

            <!-- Company Name-->
            <li *ngIf="(((paymentMethod.value === 'CC') || (paymentMethod.value === 'INV')) && (billingFrequency.value !== ''))">
                <label class="field-label required"> Company Name</label>
                <div class="input-container">
                    <input class="input-field" [class.submitted]="paymentForm.tested" type="text" [(ngModel)]="app.billingInfo.companyName" name="companyName" maxlength="80" required>
                </div>
            </li>

            <!-- Address 1-->
            <li *ngIf="(((paymentMethod.value === 'CC') || (paymentMethod.value === 'INV')) && (billingFrequency.value !== ''))">
                <label class="field-label required"> Address 1</label>
                <div class="input-container">
                    <input class="input-field" [class.submitted]="paymentForm.tested" type="text" [(ngModel)]="app.billingInfo.address1" name="address1" maxlength="255" required>
                </div>
            </li>

            <!-- Address 2-->
            <li *ngIf="(((paymentMethod.value === 'CC') || (paymentMethod.value === 'INV')) && (billingFrequency.value !== ''))">
                <label class="field-label"> Address 2 </label>
                <div class="input-container">
                    <input class="input-field" type="text" [(ngModel)]="app.billingInfo.address2" name="address2" maxlength="255">
                </div>
            </li>

            <!-- City-->
            <li *ngIf="(((paymentMethod.value === 'CC') || (paymentMethod.value === 'INV')) && (billingFrequency.value !== ''))">
                <label class="field-label required"> City</label>
                <div class="input-container">
                    <input class="input-field" [class.submitted]="paymentForm.tested" type="text" [(ngModel)]="app.billingInfo.city" name="city" maxlength="40" required>
                </div>
            </li>

            <!-- State/Province -->
            <li *ngIf="(((paymentMethod.value === 'CC') || (paymentMethod.value === 'INV')) && (billingFrequency.value !== ''))">
                <label class="field-label required"> State/Province</label>
                <div class="input-container">
                    <select class="form-control" [class.submitted]="paymentForm.tested" id="state" [(ngModel)]="app.billingInfo.state" name="state" #state required>
                        <option disabled [value]="''"></option>
                        <option *ngFor="let state of states" [value]="state.stateCode">{{state.name}}</option>
                    </select>
                </div>
            </li>

            <!-- Zip -->
            <li *ngIf="(((paymentMethod.value === 'CC') || (paymentMethod.value === 'INV')) && (billingFrequency.value !== ''))">
                <label class="field-label required">Zip</label>
                <div class="input-container">
                    <input class="input-field" [class.submitted]="paymentForm.tested" type="text" [(ngModel)]="app.billingInfo.zip" name="zip" maxlength="20" required>
                </div>
            </li>

            <!-- Country -->
            <li *ngIf="(((paymentMethod.value === 'CC') || (paymentMethod.value === 'INV')) && (billingFrequency.value !== ''))">
                <label class="field-label required"> Country</label>
                <div class="input-container">
                    <select class="form-control" [class.submitted]="paymentForm.tested" id="country" [(ngModel)]="app.billingInfo.country" name="country" (change)="updateState($event.target.value)" #country required>
                        <option disabled [value]="''"></option>
                        <option *ngFor="let country of countries" [value]="country.countryCode">{{country.name}}</option>
                    </select>
                </div>
            </li>

            <!-- Trusted Advisor Thank You Payment Type -->
            <li *ngIf="((paymentMethod.value !== '') && (billingFrequency.value !== '') && (app.vistageProgram === 'TA'))">
                <label>Trusted Advisor program only</label>
                <div class="indented-text">
                   TA members may receive commision payments for successful member and Chair referrals.<br />
                   Please choose what form of payment you'd like for these commissions.
                </div>
                <label class="field-label required"> Thank you Payment Type</label>
                <div class="input-container">
                    <select class="form-control" [class.submitted]="paymentForm.tested" id="thankyouPayment" [(ngModel)]="app.thankYouPaymentType" name="thankyouPayment"  #thankyouPayment required>
                        <option disabled [value]=""></option>
                        <option *ngFor="let payment of thankYouPayments" [value]="payment.value">{{payment.display}}</option>
                    </select>
                </div>
            </li>

            <!-- Amount due Today-->
            <li *ngIf="((paymentMethod.value !== '') && (billingFrequency.value !== ''))">
                <label>Amount due today</label>
                <div class="indented-text">
                    Today's payment will use your method for recurring payment: <b>{{app.methodOfPayment | displayPaymentMethodName}}.</b>
                </div>
                <div class="indented-text">
                    To change your recurring payment method, please contact our billing department at billing@vistage.com
                </div>
                <div>
                    <div style="padding-left:33%">
                        <div class="indented-text">
                            <br /><b>{{app.vistageProgram | displayProgramName | capitalize}} Program</b>
                        </div>
                        <div class="indented-text">
                            <div class="amount-due-left">Enrollment Fee</div>
                            <div class="amount-due-right">{{app.enrollmentFee | currency:'USD':true}}</div>
                        </div>
                        <div class="indented-text">
                            <div class="amount-due-left">First Month Dues</div>
                            <div class="amount-due-right">{{firstMonthDue | currency:'USD':true}}</div>
                        </div>
                        <div class="indented-text">
                            <div *ngIf="discounts.length > 1" class="amount-due-left">Promotions</div>
                            <div *ngIf="discounts.length === 1" class="amount-due-left">Promotion</div>
                            <div class="amount-due-right">
                                <div *ngFor="let discount of discounts" style="margin:0">
                                    <div class="promotion-left">  [{{discount.amount | currency:'USD':true}}]</div>
                                    <div class="promotion-right">{{discount.name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="indented-text">
                            <div class="amount-due-left"><br /><b>Total</b></div>
                            <div class="amount-due-right"><br/><b>{{ totalAmount | currency:'USD':true }}</b></div> 
                        </div>
                    </div>
                    <div></div>
                </div>
            </li>

            <!-- Terms and conditions Agreement-->
            <li *ngIf="((paymentMethod.value !== '') && (billingFrequency.value !== ''))">
                <label>Financial terms and conditions agreement</label>
                <div class="indented-text">
                    By clicking Agree then Submit Application, I hereby submit my application for Vistage membership in accordance with the Membership Terms
                    and Conditions Agreement. If approved as a member and automatic recurring payment is selected above, I authorize Vistage to debit the amount
                    indicated for the enrollment fee and dues indicated at the time of acceptance and to continue debiting this account for dues in accordance with
                    the payment schedule chosen until the membership is cancelled. Unless otherwise revoked, this authorization will remain in effect until membership
                    cancellation. I understand that I may receive a full refund of all amounts paid within the first 30 days of membership; thereafter I may cancel my
                    membership upon 90 days written notice.
                </div>
            </li>

            <li *ngIf="((paymentMethod.value !== '') && (billingFrequency.value !== ''))">
                <div class="footer-container">
                    <div class="financialTerms-container">
                        <input type="checkbox" class="input-field" name="financialTermsAccepted" [(ngModel)]="app.financialTermsAccepted">
                    </div>
                    <div class="agree-container">Agree</div>
                    <div class="financialTermsName-container">
                        <input type="text" placeholder="Please type your name" class="input-field" name="financialTermsAcceptanceName" [(ngModel)]="app.financialTermsAcceptanceName" required minlength="5" maxlength="100">
                    </div>
                    <div class="submitted-container">
                        <p><b>Submitted {{today | date:'fullDate'}}</b></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Buttons -->
    <button type="submit" class="submit-button" (click)="onSubmit(paymentForm, payment)">Submit Application</button>
    <button type="button" class="back-button" (click)="goBack()">Back to Step 2</button>
   
</form>


