﻿select {
    background: white;
    padding: 4px;
    width: 100%;
}

.gform_wrapper li.gfield_error input[type=email],
.gform_wrapper li.gfield_error input[type=number],
.gform_wrapper li.gfield_error input[type=password],
.gform_wrapper li.gfield_error input[type=tel],
.gform_wrapper li.gfield_error input[type=text],
.gform_wrapper li.gfield_error input[type=url],
.gform_wrapper li.gfield_error .select2-container > a.select2-choice,
.gform_wrapper li.gfield_error textarea {
    border: 1px solid red;
}

.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label,
.gform_wrapper li.gfield_error ul.gfield_checkbox,
.gform_wrapper li.gfield_error ul.gfield_radio {
    color: red;
}

.gform_wrapper .gform_footer.left_label, .gform_wrapper .gform_footer.right_label {
    margin-left: 0;
    margin-top: 0;
}

.gform_wrapper div.validation_error {
    border: 0;
    color: red;
    display: none;
    font-size: 1em;
    margin-bottom: 0;
    width: 100%;
}

.gform_wrapper .gfield_date_dropdown_day,
.gform_wrapper .gfield_date_dropdown_month,
.gform_wrapper .gfield_date_dropdown_year {
    margin: 0;
    width: 33.3%;
    padding-right: 5px;
}

.input-name-comments > .ginput_container {
    padding-bottom: 20px;
}

.no-day .clear-multi div {
    width: 50%;
}

.no-day .clear-multi .gfield_date_dropdown_day {
    display: none;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description, .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required fieldset legend.gfield_label, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-left: 0;
    margin-top: 0;
}

/*
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0;
}
*/

.gform_wrapper .gfield_date_dropdown_year {
    padding-right: 0;
}

#wp-overlay.pdf-overlay:before {
    content: '';
}

#page-copy {
    display: none;
}

#page-copy .gform_wrapper {
    max-width: 100%;
}

#page-copy .gform_wrapper .gform_heading {
    width: auto;
}

.gform_wrapper ul li:after,
.gform_wrapper ul li:before,
.gform_wrapper ul.gform_fields {
    background: #ededed;
}

#page-copy .gform_wrapper .gform_fields li.field_sublabel_below .gfield_label {
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    padding-top: 13px;
}

#page-copy .gform_wrapper .gform_fields .gfield_label {
    float: none;
    width: 25%; /* label width */
}

#page-copy .gform_wrapper label.gfield_label+div.ginput_container {
    display: inline-block;
    width: 35%;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
}

.gform_wrapper form ul.left_label li {
    margin-bottom: 0;
}

.gform_wrapper form ul.left_label li:last-child {
    padding-bottom: 10px;
}

.gform_wrapper .gfield_checkbox li label {
    margin-left: 8px;
    display: inline-block;
}

#page-copy .gform_wrapper .gform_fields input.medium,
.gform_wrapper .gform_fields select.medium,
.gform_wrapper .right_label input.medium,
.gform_wrapper .right_label select.medium {
    width: 100%;
}

#page-copy .gform_wrapper .gform_fields input.medium:-moz-read-only,
#page-copy .gform_wrapper .gform_fields input.medium:read-only,
.gform_wrapper .right_label input.medium:-moz-read-only,
.gform_wrapper .right_label input.medium:read-only {
    border: 0;
}

#page-copy .gform_wrapper .gform_fields .gfield_description,
.gform_wrapper .gform_fields .instruction,
.gform_wrapper .right_label .gfield_description,
.gform_wrapper .right_label .instruction {
    color: grey;
    display: inline-table;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0!important;
    width: 40%; /* description width */
}

#page-copy .gform_wrapper .gform_fields .gfield_description.validation_message {
    display: none;
    color: red;
    width: 100%;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: transparent;
    border: 0;
}

.gform_wrapper .gfield_error .gfield_label {
    color: #414042;
}

.gform_wrapper .gfield_required {
    color: red;
}

.gform_wrapper .gfield_description.validation_message,
.gform_wrapper .top_label .gfield_description.validation_message {
    padding-left: 25%!important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin-bottom: 0!important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required + .gfield_error {
    margin-top: 10px!important;
}

#page-copy .gform_wrapper form ul.gform_fields li.gsection,
.gform_wrapper form ul.right_label li.gsection,
.gform_wrapper ul.gform_fields li.gsection,
.gform_wrapper ul.right_label li.gsection {
    background: white;
    height: 10px;
    margin: 0;
}

#page-copy .gform_wrapper form ul li.gsection label,
#page-copy .gform_wrapper form ul li.gsection div {
    margin: 0;
    padding: 0;
}

.gform_wrapper ul.gform_fields li.gsection h2 {
    display: none;
}

.gform_wrapper .gform_footer.gform_fields,
.gform_wrapper .gform_footer.right_label {
    width: 100%;
    margin: 0;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=image],
.gform_wrapper .gform_footer input[type=submit] {
    background: #005375;
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 0 black;
}

#page-copy .gform_wrapper .expand-right label.gfield_label+div.ginput_container {
    display: inline-block;
    padding-right: 20px;
    padding-top: 15px;
    vertical-align: top;
    width: 75%;
}

#page-copy .gform_wrapper .expand-right label.gfield_label+div.ginput_container textarea {
    width: 100%;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
    margin: 4px;
}

@media (max-width: 990px) {
    #page-copy .gform_wrapper .gform_fields .gfield_description, .gform_wrapper .gform_fields .instruction, .gform_wrapper .right_label .gfield_description, .gform_wrapper .right_label .instruction {
        width: 100%;
        padding-left: 25%; /* label width */
    }

    #page-copy .gform_wrapper label.gfield_label+div.ginput_container {
        width: 74%;
    }
}

@media (min-width:480px) {
  body:not(.j-body-home) #j-main {
    margin-top: 30px;
  }
}

@media (max-width: 750px) {

    /* Submit and Cancel buttons */

    .gform_wrapper .gform_footer.left_label,
    .gform_wrapper .gform_footer.right_label {
        width: 100%;
        text-align: center;
    }

    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_footer input[type=image],
    .gform_wrapper .gform_footer input[type=submit] {
        width: 45%;
        margin: 0;
        float: left;
    }

    .gform_wrapper .gform_footer input[type=submit].gforms_cancel {
        width: 45%;
        margin: 0;
        float: right;
    }

    .gform_wrapper .gform_ajax_spinner {
        padding: 0;
    }

    /* End: Submit and Cancel buttons */

    #page-copy .gform_wrapper form ul.gform_fields li,
    .gform_wrapper form ul.right_label li,
    .gform_wrapper ul.gform_fields li,
    .gform_wrapper ul.right_label li {
        display: block;
        height: auto;
        padding-right: 20px;
    }
    #page-copy .gform_wrapper form ul li:first-child {
        padding-top: 15px;
    }
    #page-copy .gform_wrapper form ul li:last-child {
        padding-bottom: 15px;
    }
    #page-copy .gform_wrapper form ul.gform_fields li.gsection,
    .gform_wrapper form ul.right_label li.gsection,
    .gform_wrapper ul.gform_fields li.gsection,
    .gform_wrapper ul.right_label li.gsection {
        margin: 0;
    }
    #page-copy .gform_wrapper form ul li.break-prev.gfield_error {
        margin-bottom: 0!important;
    }

    #page-copy .gform_wrapper .gform_fields li.field_sublabel_below .gfield_label {
        display: inline-block;
        padding: 0 20px;
        width: 100%;
    }

    #page-copy .gform_wrapper .gform_fields .gfield_description {
        padding-left: 40%; /* description width */
    }

    #page-copy .gform_wrapper label.gfield_label+div.ginput_container {
        display: inline-block;
        padding-left: 20px;
        width: 100%;
    }

    .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
    .gform_wrapper li.gfield_html {
        max-width: 100%;
    }

    #page-copy .gform_wrapper .gform_fields .gfield_error .gfield_description.validation_message,
    #page-copy .gform_wrapper .gform_fields .gfield_description,

    .gform_wrapper .gform_fields .instruction
    .gform_wrapper .right_label .gfield_description,
    .gform_wrapper .right_label .instruction {
        padding-bottom: 10px;
        width: 100%;
        padding-left: 30px;
    }
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description,
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required fieldset legend.gfield_label,
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
        margin-left: 0;
    }
    #page-copy .gform_wrapper .expand-right label.gfield_label+div.ginput_container {
        width: 100%;
        padding-right: 0;
    }
    .gform_wrapper .right_label .gfield_description, .gform_wrapper .right_label .instruction {
        padding-left: 25px!important;
    }
    #page-copy .gform_wrapper form ul.gform_fields li, .gform_wrapper form ul.right_label li,
    .gform_wrapper ul.gform_fields li, .gform_wrapper ul.right_label li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .ginput_container textarea {
        width: 100%!important;
    }

    .gform_wrapper .gfield_description.validation_message,
    .gform_wrapper .top_label .gfield_description.validation_message {
        padding-left: 20px!important;
    }
}

/* Forms with labels on top */
#page-copy .gform_wrapper form ul.gform_fields.top_label > li {
    display: block;
    height: auto;
    padding: 10px 20px;
}

#page-copy .gform_wrapper form ul.gform_fields.top_label li.gsection {
    margin: 0;
    padding: 0;
    height: 10px;
}

#page-copy .gform_wrapper .gform_fields.top_label li.field_sublabel_below .gfield_label {
    padding-left: 0;
}

#page-copy .gform_wrapper .gform_fields.top_label .gfield_label {
    display: block;
    width: 100%;
}

#page-copy .gform_wrapper .top_label label.gfield_label+div.ginput_container {
    display: block;
    width: 100%;
}

#page-copy .gform_wrapper .gform_fields.top_label .gfield_description,
.gform_wrapper .gform_fields.top_label .instruction {
    display: block;
    width: 100%;
    padding: 10px 0 0 0;
}

#page-copy .gform_wrapper form ul.gform_fields > li.section-break {
    display: block;
    margin: 0!important;
    background: white;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 20px 0;
}

.gform_wrapper .gform_fields li.gfield ul.gfield_radio {
    display: inline-flex;
    margin-left: 0!important;
    margin-top: 5px!important;
}

.gform_wrapper .gform_fields li.gfield ul.gfield_radio li {
    display: inline-block;
    margin: 0;
    margin-right: 15px;
}

label {
    font-weight: normal;
}

.gform_wrapper .gform_footer input[type=submit].gforms_cancel {
    background: #ededed;
    color: #005375;
    font-weight: normal;
    text-shadow: initial;
}

.select2-container,
.no-day .clear-multi div .select2-container {
    width: 100%;
}

.select2-container .select2-choice {
    height: 28px;
}


/* Custom Styles for OMAPP */

.prefix {
    /* margin-right: 0; */
    display: inline-block;
}

 .gfield_prefix .gfield_first .gfield_last .gfield_suffix {
     display: inline-block;
 }