﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    color: #414042;
    font-family: "Open Sans" !important;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Form Custom Styles*/
li {
    display: list-item;
    line-height: 20px;
    list-style-type:none !important;
    margin-bottom: 0px;
    margin-left: 0!important;
    overflow: visible;
    width: 100%;
}

.field-description {
    clear: both;
    color: grey;
    display: inline-block;
    line-height: 1.4;
    margin: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0!important;
    width: 39%;
}

.input-container.fullName {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    width: 50%;
}

.input-field {
    border:  none;
    display: inline-block;
    padding-left: 5px;
    width: 100%;
}

.prefix-container {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 7px;
    vertical-align: top;
    width: 15%;

}

.firstName-container {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    width: 34%;

}

.middleInitial-container {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    width: 5%;
}

.lastName-container {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    width: 34%;
}

.suffix-container {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    width: 7%;
}

select {
    height: 27px !important;
    padding-left: 0 !important;
    padding-top: 3px !important;
}

ul {
    display:block !important;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    padding-top: 10px;
}

.diagnostics-container {
    width: 100% !important;
    word-wrap: break-word;
}

label {
    display: inline-block;
    float:none;
    margin: 0;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
}

.indented-text {
    display: inline-block;
    float:none;
    margin: 0;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}


.financialTerms-container {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    width: 2%;
}

.agree-container {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    width: 5%;
}

.financialTermsName-container {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    width: 35%;
}

.submitted-container {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    width: 35%;
}

.footer-container {
    display: inline-block;
    margin: 0;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    width: 100%;
}

select#expirationYear {
    display: inline;
    width: 25%;
}

select#expirationMonth {
    display: inline-block;
    width: 35%;
}


select#birthMonth {
    display: inline-block;
    width: 35%;
}


select#birthDay {
    display: inline-block;
    width: 28%;
}


select#birthYear {
    display: inline-block;
    width: 35%;
}

.form-body{
    background-color: #ededeb;
}

.submit-button {
    background-color: #005375;
    border: none;
    color: white;
    text-shadow: 0 1px 0 black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    border-color: #005375;
}

.back-button {
    background-color: #ededeb;
    border: none;
    color: #005375;
    text-shadow: initial;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #ededeb;
}

h4 {
    color: #005375;
}

.error {
    color: red;
}

.error-container {
    border:1px solid red;
    outline-color: red;
}

a.disabled {
    cursor: default;
    pointer-events: none;
}

select {
    padding-left: 5px !important;
    padding-top: 1px !important;
    padding-top: 2px !important;
}

div#s2id_birthMonth {
    width: 35%;
}

div#s2id_birthDay {
    width: 20%;
}

div#s2id_birthYear {
    width: 35%;
}

.form-control.select2-container {
    display: inline-block;
    height: 27px;
    padding: 0 !important;
}

@media (max-width: 990px){
    .field-description {
        padding-left: 25%;
        width: 100% !important;
    }

    .input-field .form-body {
        padding-left: 25%;
        width: 100% !important;
    }

    .input-container {
        width: 70% !important;
    }

    .input-containe.error.fullName {
        width: 70%;
    }

}

/* Chevron Navigator */

.breadcrumb { 
    border-radius: 0 !important;
    font: 15px OpenSans, Sans-Serif;
    list-style: none; 
    overflow: hidden; 
    padding: 0 !important;

}
.breadcrumb li { 
    border-radius: 0;
    float: left; 
    padding: 0 !important;
    width: 33%;
}

.breadcrumb li a:after {
    border-radius: 0 5px 0 50px;
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    content: '';
    height: 36px;
    position: absolute;
    right: -18px;
    top: 0;
    transform: scale(0.707) rotate(45deg);
    width: 36px;
    z-index: 1;
}

.breadcrumb li a {
    background: #ededeb; 
    color: #005375;
    display: block;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 36px;
    outline: none;
    padding: 0 10px 0 30px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.breadcrumb li a:before {
    border-radius: 0 5px 0 50px;
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    content: '';
    height: 36px;
    left: -18px;
    position: absolute;
    top: 0;
    transform: scale(0.707) rotate(45deg);
    width: 36px;
    z-index: 1;
}

.breadcrumb li a:after {
    background: #ededeb;
    border-radius: 0 5px 0 50px;
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    content: '';
    height: 36px;
    position: absolute;
    right: -18px;
    top: 0;
    transform: scale(0.707) rotate(45deg);
    width: 36px;
    z-index: 1;
}


.breadcrumb li:first-child a:before {
	content: none;
}

.breadcrumb li:last-child a:after { 
    content: none !important;
}

.breadcrumb> li.last-nav {
    width: 34%;
}

.breadcrumb li a:hover {     
    background: #005375;
    color: white; 
}

.breadcrumb li a:hover::after { 
    background: #005375 !important;
}

.breadcrumb li a:hover:before { 
    background: transparent;
}

.breadcrumb>li+li:before {
    color: #ccc;
    content: none !important;
    padding: 0 5px;
}

ul.breadcrumb {
    margin-bottom: 0;
    width: 100%;
}

.breadcrumb-container {
    border-color: #005375;
    border-style: solid;
    border-width: 2px;
}

.breadcrumb > li > a.active {
    background: #005375;
    color: white; 
}

.breadcrumb > li > a.active::after {
    background: #005375;
    color: white; 
}

.breadcrumb > li > a.active::before {
    background: transparent;
    color: white; 
}

.amount-due-left {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.amount-due-right {
    display: inline-block;
    vertical-align: top;
}

.promotion-left {
    display: inline-block;
    width: 110px;
    vertical-align: top;
}

.promotion-right {
    display: inline-block;
    vertical-align: top;
}

input.submitted.ng-invalid {
    border:1.5px solid red;
    outline: none;
    -webkit-box-shadow: 0px 0px 5px  red;
    -moz-box-shadow: 0px 0px 5px  red;
     box-shadow: 0px 0px 5px  red;
}

select.submitted.ng-invalid {
    border:1.5px solid red;
    outline: none;
    -webkit-box-shadow: 0px 0px 5px  red;
     box-shadow: 0px 0px 5px  red;
}

textarea.submitted.ng-invalid {
    border:1.5px solid red;
    outline: none;
    -webkit-box-shadow: 0px 0px 5px  red;
    -moz-box-shadow: 0px 0px 5px  red;
     box-shadow: 0px 0px 5px  red;
}

.form-description {
    clear: both;
    display: inline-block;
    line-height: 1.4;
    margin: 0;
    padding-bottom: 0;
    padding-right: 30px;
    padding-top: 0!important;
    width: 39%;
}

label.field-label.required:after {
    content:"*";
    color: red;
}

.header-top-row {
    padding-top: 20px;
    font-weight: bold;
    color: #005375;
    border-bottom: #005375;
    border-bottom-width: 3px;
    padding-bottom: 10px;
    border-bottom-style: solid;
}

.header-top-left {
    display: inline-block;
    width: 57%;
}

.header-top-right {
    font-size: 12px;
    display: inline-block;
    width: 43%;
    float: right;
    padding-top: 10px;
}

.header-bottom-row {
    color: #005375;
    padding-bottom: 20px;
    padding-top: 10px;
}

.header-bottom-left {
   display: inline-block;
   width: 61%;

}

.header-bottom-right {
    display: inline-block;
    float: right;
    text-align: right;
    width: 39%;

}

.header-top-right > p {
    margin: 0;
}

.title-section {
    padding-top: 20px;
}

.vistage-logo {
    vertical-align: top;
    float: right;
}

input.input-field {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea.input-field  {
    -webkit-box-shadow: none;
}

@media (min-width: 425px) and (max-width: 892px) {

   .header-bottom-left > p {
        margin: 0;
        font-size: 15px;
    }

   .header-bottom-right > p {
        margin: 0;
        font-size: 15px;
    }

   .header-top-left > p {
        margin: 0;
        font-size: 30px;
    }

   .agreeTerms-container {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        vertical-align: top;
        width: 95%;
    }

   .agreeTerms-version {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        text-align: left;
        vertical-align: top;
        width: 100%;
    }

   .breadcrumb>li {
        display: inline-block;
        text-align: center;
    }

   .input-container {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        vertical-align: top;
        width: 35%;
    }

   .field-label {
        border: none;
        display: inline-block;
        float:none;
        margin: 0;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 13px;
        width: 25% !important;
    }
}


/*--- Laptop ----*/
@media (min-width: 892px) {

    .header-bottom-left > p {
        margin: 0;
        font-size: 18px;
    }

    .header-bottom-right > p {
        margin: 0;
        font-size: 18px;
    }

    .header-top-left > p {
        margin: 0;
        font-size: 38px;
    }

    
    .agreeTerms-container {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        vertical-align: top;
        width: 70%;
    }

    .agreeTerms-version {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        text-align: right;
        vertical-align: top;
        width: 27%;
    }

    span.badge {
        color: inherit;
        background-color: transparent !important;
    }

    .breadcrumb > li > a.active > span.badge {
        background: #005375;
        color: white;
    }

    .breadcrumb li:first-child {
        text-align: left;
    }

    
   .input-container {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        vertical-align: top;
        width: 35%;
    }

   .field-label {
        border: none;
        display: inline-block;
        float:none;
        margin: 0;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 13px;
        width: 25% !important;
    }

}


/* --- Small Mobile ---*/
@media (max-width: 425px) {

   .header-bottom-left > p {
        margin: 0;
        font-size: 12px;
    }

   .header-bottom-right > p {
        margin: 0;
        font-size: 12px;
    }

    .header-top-left > p {
        margin: 0;
        font-size: 15px;
    }

    .header-top-right {
        font-size: 12px;
        display: inline-block;
        width: 43%;
        float: right;
        padding-top: 5px;
    }

   .agreeTerms-container {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        vertical-align: top;
        width: 90%;
    }

   .agreeTerms-version {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        text-align: left;
        vertical-align: top;
        width: 100%;
    }

   .financialTerms-container {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        vertical-align: top;
        width: 5%;
    }

   .nav-text {
       display: block;
   }

   .nav-filler {
       display: none;
   }

   .badge {
       display: none !important;
       margin: 0 auto;
   }

   .breadcrumb>li {
        display: inline-block;
        text-align: center;
    }

   .input-container {
        width: 90% !important;
        padding-left: 20px;
    }

   .field-label {
        border: none;
        display: inline-block;
        float: none;
        margin: 0;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 13px;
        width: 100% !important;
    }

   .field-description {
        padding-left: 20px;
        width: 100% !important;
    }

   select#birthDay {
        display: inline-block;
        width: 25%;
    }

   select#birthMonth {
        display: inline-block;
        width: 40%;
    }

   select#birthYear {
        display: inline-block;
        width: 32%;
    }

   .form-control {
       font-size: 12px !important;
   }

   .prefix-container {
       width: 20%;
   }

   .firstName-container {
       width: 28%;
   }

   .middleInitial-container {
       width: 6%;
   }

   .lastName-container {
       width: 34%;
   }

   .suffix-container {
       width: 7%;
   }

}


/*--- Tablet ---*/
 @media (min-width: 767px) and (max-width: 892px) {
    span.badge {
        color: inherit;
        background-color: transparent !important;
    }

    .breadcrumb > li > a.active > span.badge {
        background: #005375;
        color: white;
    }

    .breadcrumb li:first-child {
        text-align: left;
    }

    
   .input-container {
        display: inline-block;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        vertical-align: top;
        width: 35%;
    }

   .field-label {
        border: none;
        display: inline-block;
        float:none;
        margin: 0;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 13px;
        width: 25% !important;
    }

}

@media (max-width: 388px) {

    .breadcrumb li a {
        font-size: 10px;
    }

    select#birthMonth {
        display: inline-block;
        width: 42%;
    }

    select#birthDay {
        display: inline-block;
        width: 22%;
    }

    select#birthYear {
        display: inline-block;
        width: 32%;
    }

}



